body {
  background-color: #687B9B;
  width: 100%;
  height: 100%;
  margin: 0;
}
.navbar {
  color: white;
  border: 5px solid white;
}
  .navbar ul {
    color: white;
    font-weight: bold;
  }

h1 {
  color: white;
}
p {
  font-size: 20px;
  color: white;
}
.slideshow {
  border: 5px solid white;
  height: 500px;
  margin-top: 5px;
}
 .selection {
   border: 5px solid white;
   height: 400px;
   width: auto;
 }
 .icons {
   border: 5px solid white;
   height: 100px;
   width: auto;
 }
footer {
  height: 100px;
  border: 5px solid white;
}
